# tipos de variables

## Variables basicas

In [ ]:
# almacenando 1 valor 
#Entero
a = 10
# flotante
b = 10.5
# cadena
c = "hola"
#booleano
d = True

### Maneras  de dar formato a una impresion

In [13]:
# Formato de impresión normal
print("El valor de a es:", a)

# Formato de impresión con f-string
print(f"El valor de b es: {b}")

El valor de a es: 10
El valor de b es: 10.5

In [12]:
#formato  de impresion normal
print("el valor de a es:",a, "y su tipo de datos es :",type(a))
#formato de impresion con  f-string
print(f"el valor de b es: {b} y su tipo de datos es:{type(b)}")

el valor de a es: 10 y su tipo de datos es : <class 'int'>
el valor de b es: 10.5 y su tipo de datos es:<class 'float'>

In [15]:
# 1. Formato de impresión normal
print("El valor de a es:", a, "y su tipo de datos es:", type(a))

# 2. Formato de impresión con f-string
print(f"El valor de b es: {b} y su tipo de datos es: {type(b)}")

# 3. Formato de impresión usando format
print("El valor de c es: {} y su tipo de datos es: {}".format(c, type(c)))

El valor de a es: 10 y su tipo de datos es: <class 'int'>
El valor de b es: 10.5 y su tipo de datos es: <class 'float'>
El valor de c es: hola y su tipo de datos es: <class 'str'>

## variables que almacenan multiples valores

In [19]:
#listas
lista =[1,2,3,4,5]
print(f"los valores de la lista:{lista}")
print(f"la variable lista es tipo", type(lista))

los valores de la lista:[1, 2, 3, 4, 5]
la variable lista es tipo <class 'list'>

In [1]:
#TUPLA - no modificables
A =(1,2,3,4,5)
print(f"los valores de la lista:{A}")
print(f"la variable lista es tipo", type(A))

los valores de la lista:(1, 2, 3, 4, 5)
la variable lista es tipo <class 'tuple'>

In [1]:
#Diccionario
diccionario ={
    #clave : valor
    "nombre":"juan",
    "edad":30,
    "altura":1.75,
    "deudas":False,
    "ciudad":"madrid"
}
print(f"los valores del diccionario son:{diccionario}")
print(f"la variable diccionario es tipo", type(diccionario))

los valores del diccionario son:{'nombre': 'juan', 'edad': 30, 'altura': 1.75, 'deudas': False, 'ciudad': 'madrid'}
la variable diccionario es tipo <class 'dict'>

In [10]:
#dataframe
#importando libreria pandas
import pandas as pd

diccionario ={
    #clave : valor      
    "nombre":["juan","pedro","maria"],
    "edad":[30,25,28],
    "altura":[1.75,1.80,1.70],
    "deudas":[False,True,False],
    "ciudad":["madrid","barcelona","valencia"]
}

tabla = pd.DataFrame(diccionario)
print(f"los valores de la tabla son:{tabla}")

los valores de la tabla son:  nombre  edad  altura  deudas     ciudad
0   juan    30    1.75   False     madrid
1  pedro    25    1.80    True  barcelona
2  maria    28    1.70   False   valencia